[submodule "oneki-py"]
	path = oneki-py
	url = https://github.com/OnekiDevs/oneki-py
[submodule "oneki-ts"]
	path = oneki-ts
	url = https://github.com/OnekiDevs/oneki-ts
[submodule "Oneki-rs"]
	path = Oneki-rs
	url = https://github.com/OnekiDevs/Oneki-rs
